<h1>Your Business Dashboard</h1>

<h2>
    <%= business.name %>
</h2>
<p>
    <%= business.description %>
</p>
<p>Category:
    <%= business.category %>
</p>
<img src="<%= business.imageUrl %>" alt="Business Image" width="200" />

<a href="/dashboard/edit-business">Edit Business Info</a>